---
import Layout from "../components/Layout.astro";
---

<Layout title="Articles">
  <div class="">
    <div class="buttons">
      <button>Latest</button>
      <button>Popular</button>
      <button>Featured</button>
      <button>Poems</button>
    </div>
    <select class="mobile-select-options">
      <option value="all">All</option>
      <option value="latest">Latest</option>
      <option value="Popular">Popular</option>
      <option value="Poems">Poems</option>
    </select>
    <div class="search">
      <input
        class="search-feild"
        type="text"
        placeholder="Search.."
        name="search"
      />
      <span class="search-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="0.89em"
          height="1em"
          viewBox="0 0 740 840"
          ><path
            fill="currentColor"
            d="M734 668q8 9 0 17l-49 49q-3 3-8 3t-8-3L519 584q-50 38-112 55t-133 6q-53-8-99-33t-83-61t-59-85T3 366q-10-79 16-150T96 95t121-76T367 3q53 7 100 30t84 59t62 82t33 100q11 69-6 131t-55 114zM325 557q48 0 90-18t74-50t50-74t18-90t-18-90t-50-74t-74-50t-90-18t-90 18t-73 50t-50 74t-18 90t18 90t50 74t73 50t90 18z"
          ></path>
        </svg>
      </span>
    </div>
  </div>
</Layout>
<style>
  button {
    margin-right: 05px;
    margin-left: 55px;
    height: 23px;
    border-radius: 3px;
    border: solid 1px;
    /* width: 100px; */
    background-color: green;
    color: wheat;
    cursor: pointer;
  }
  .search {
    float: right;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .search-feild {
    height: 23px;
    border-radius: 3px;
    border: solid 1px;
  }
  .mobile-select-options {
    display: none;
    border: none;
  }

  @media (max-width: 800px) {
    .buttons {
      display: none;
    }
    .search {
      margin: 0 10vw 0 0;
      display: none;
    }
    .mobile-select-options {
      /* margin: 0 0 0 10vw; */
      margin: auto;
      display: block;
    }
  }
</style>
