<footer>
  <p>College Article Writer &copy; {new Date().getFullYear()}</p>
  <i class="fa fa-facebook"></i>
</footer>
<style>
  p {
    background-color: rgb(34, 217, 217);
    text-align: center;
    margin-top: 125px;
    padding: 10px;
  }
</style>
