<head>
  <head>
    <footer>
      <p>
        <a href="https://qurashi.netlify.app/">Majid Qurashi |</a> &copy; {
          new Date().getFullYear()
        }
      </p>
      <i class="fa fa-facebook"></i>
    </footer>
    <style>
      p {
        background-color: rgb(34, 217, 217);
        text-align: center;
        margin-top: 125px;
        padding: 10px;
      }
      a {
        text-decoration-line: none;
        color: black;
      }
    </style>
  </head>
</head>
